{% extends "layout.html" %}

{% block content %}
<div class="jumbotron">
<h2>{{ title }}.</h2>

<address>
    Україна , Київ<br />
    сайт профбюро студентів ІЕЕ<br />
    <abbr title="Телефон">Тел. тех. адміністратора:</abbr>
    +380968793084
</address>

<address>
    <strong>Підтримка:</strong>   <a href="mailto:pb.ieenew@gmail.com">pb.ieenew@gmail.com</a><br />
	<a href="https://instagram.com/kpi.iee?igshid=1l3jr4x0ouw3q" class="btn btn-primary btn-large">Група в Instagram &raquo;</a>
	<a href="https://t.me/studprofkom_iee" class="btn btn-primary btn-large">Група в Telegram &raquo;</a>
	<a href="https://discord.gg/ENt9AbB" class="btn btn-primary btn-large">Група в Discord &raquo;</a>
</address>
</div>
{% endblock %}
